.main__cards {
    margin-top: 120px;
    margin-left: 12%;
    width: 88%;
    height: 953px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .main__cards {
        height: 650px;
    }
}

@media (max-width: 768px) {
    .main__cards {
        margin-top: 36px;
        margin-left: 0px;
        width: 100%;

        position: relative;
    }
}

.cards__twoImages {
    display: flex;
    flex-direction: column;
}

@media (max-width: 520px) {
    .cards__twoImages {
        position: absolute;
    }
}

.cards__face {
    background-image: url(../../images/image__face.png);
    background-size: cover;
    width: 296px;
    height: 444px;
    margin-top: 40px;
}

@media (max-width: 1192px) {
    .cards__face {
        background-image: url(../../images/image__face_small.png);
        width: 150px;
        height: 225px;
    }
}

@media (max-width: 520px) {
    .cards__face {
        background-size: cover;
        position: absolute;
        width: 150px;
        height: 225px;
        top: 40px;
        margin-top: 0px;
    }
}

.cards__hand {
    margin-top: 173px;
    background-image: url(../../images/image__hand.png);
    background-size: cover;
    width: 296px;
    height: 563px;
}

@media (max-width: 1192px) {
    .cards__hand {
        background-image: url(../../images/image__hand__small.png);
        width: 150px;
        height: 284px;
    }
}

@media (max-width: 520px) {
    .cards__hand {
        position: absolute;
        background-size: cover;
        margin-top: 0px;
        right: 0px;
        top: 114px;
        width: 150px;
        height: 284px;
    }
}

.cards__glass {
    margin-top: 0px;
    background-image: url(../../images/image__glass.png);
    background-size: cover;
    width: 296px;
    height: 296px;
}

@media (max-width: 1192px) {
    .cards__glass {
        background-image: url(../../images/image__glass__small.png);
        background-size: cover;
        width: 130px;
        height: 170px;
    }
}

@media (max-width: 520px) {
    .cards__glass {
        position: absolute;
        margin-top: 0px;
        left: 20px;
        top: 378px;
        width: 130px;
        height: 170px;
    }
}

.cards__mountain {
    margin-top: 100px;
    background-image: url(../../images/image__mountain.png);
    background-size: cover;
    width: 148px;
    height: 148px;
}

@media (max-width: 1192px) {
    .cards__mountain {
        background-image: url(../../images/image__maintain__small.png);
        background-size: cover;
        width: 148px;
        height: 148px;
    }
}

@media (max-width: 520px) {
    .cards__mountain {
        position: absolute;
        margin-top: 0px;
        top: 290px;
        left: 95px;
        width: 55px;
        height: 55px;
    }
}

.cards__girl__cover {
    width: 148px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .cards__girl__cover {
        display: none;
    }
}

.cards__girl {
    margin-top: 92px;
    background-image: url(../../images/image__girl.png);
    background-size: cover;
    width: 296px;
    height: 296px;
}


/********************/

.main__ellipse_cover {
    position: absolute;
    width: 100%;
    height: auto;
}

.main__ellipse {
    position: absolute;
    background-size: cover;
    top: 230px;
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

@media (max-width: 1024px) {
    .main__ellipse {
        top: 450px;
    }
}

@media (max-width: 768px) {
    .main__ellipse {
        display: none;
    }
}

.main__ellipse_small {
    display: none;
    position: absolute;
    background-size: cover;
    top: 150px;
    z-index: 1;
}

@media (max-width: 768px) {
    .main__ellipse_small {
        display: inline;
        top: 10px;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .main__ellipse_small {
        display: inline;
        top: 150px;
    }
}

@media (max-width: 375px) {
    .main__ellipse_small {
        top: 200px;
    }
}

@media (max-width: 320px) {
    .main__ellipse_small {
        top: 260px;
    }
}

/*

@media (max-width: 375px) {
    .main__ellipse_small {
        position: absolute;
        background-size: cover;
        top: 150px;
        z-index: 1;
    }
}

@media (max-width: 375px) {
    .main__ellipse_small {
        position: absolute;
        background-size: cover;
   
        top: 230px;
        height: auto;
        box-sizing: border-box;
        z-index: 1;
    }
}*/
